{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container register-container">
    <h2 class="register-title">📝 Crea tu cuenta</h2>
    <p class="register-subtitle">Registra tu banda y empieza a organizar ensayos.</p>


    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>
                        {% if field == "password2" %}
                            <strong>Confirmación de contraseña</strong>: {{ error }}
                        {% else %}
                            <strong>{{ field|title }}</strong>: {{ error }}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    

    <form method="post" class="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Contraseña</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirmar contraseña</label>
            {{ form.password2 }}
        </div>

        <div class="form-group">
            <label for="{{ form.band.id_for_label }}">Selecciona tu banda</label>
            {{ form.band }}
        </div>

        <div class="form-group">
            <label for="{{ form.new_band.id_for_label }}">O ingresa una nueva banda</label>
            {{ form.new_band }}
        </div>

        <button type="submit" class="btn btn-primary register-btn">Registrarse</button>
    </form>

    <p class="register-login-link">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</div>
{% endblock %}
